$htr-teal: #2384A7;
.input-group-append {
	.btn {
		background-color: #e9ecef;
		border-color: #ced4da;
		&:hover {
			color: darken(#6c757d, 15%);
		}
	}
}
.card {
	&.part-ordered {
		.form-check-label {
			padding-left: 0;
		}
	}
	&.row {
		margin-right: -0.5rem;
		margin-left: -0.5rem;
	}
}
.priority {
	width: 140px;
	.badge { font-size: 1rem; }
	.badge-priority4 { border-color: #17a2b8 !important; }
	.badge-priority3 { border-color: #28a745 !important; }
	.badge-priority2 { border-color: #ffc107 !important; }
	.badge-priority1 { border-color: #dc3545 !important; }
}
.status {
	.dropdown-item {
		.badge { width: 100%; }
	}
	.badge { font-size: 1rem; }
	.badge-assigned { border-color: $htr-teal !important; }
	.badge-unassigned { border-color: #B58900 !important; }
	.badge-closed { border-color: #666666 !important; }
	.badge-hold { border-color: #9B479F !important; }
}
.form-control:valid {
	border-color: rgba(0,0,0,.15);
} 
