#htr-logo-full {
	height: 50px;
}
#htr-logo-sm {
	height: 36px;
}

svg {
	.fill-white {
		fill: #ffffff;
	}
	.fill-red {
		fill: #ed1c24;
	}
}
.navbar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 16px;
	height: 60px;
	.admin-menu-button {
		position: absolute;
		top: 0;
		left: 0;
		width: 60px;
		height: 60px;
		button {
			width: 60px;
			height: 60px;
			line-height: 60px;
			border: 0;
			border-radius: 0;
			padding: 0;
			.material-icons {
				font-size: 32px;
				top: 11px;
			}
		}
	}
	&.isAdmin {
		padding-left: 68px;
	}
}